@model NotesViewModel
@{
    ViewBag.Title = "Product List";
}

<h1>Product List</h1>
<a asp-controller="Notes" asp-action="Add" class="btn btn-outline-secondary">New Note</a>
<div class="row">
    <div class="col-sm-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var note in Model.Notes)
                {
                    <tr>
                        <td>@note.Name</td>
                        <td>
                            <a asp-controller="Notes" asp-action="Edit"
                               asp-route-id="@note.NoteID"
                               asp-route-slug="@note.Slug">Edit</a>
                            <a asp-controller="Notes" asp-action="Delete"
                               asp-route-id="@note.NoteID"
                               asp-route-slug="@note.Slug">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>